[Unit]
Description=Olympsis Storage Application
After=network.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/sbin/olympsis-storage
EnvironmentFile=/etc/olympsis-storage/olympsis-storage.conf